@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
//@import 'node_modules/vue-multiselect/dist/vue-multiselect.min.css';
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
.btn {
  &-dark {
    background-color: #464343;
  }
}
.table {
  th,
  td {
    text-align: center;
    .btn {
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}

.form {
  padding-bottom: 50px;
  
  .required {
    border-color: red;
  }
  textarea {
    resize: vertical;
  }
  fieldset {
    margin-top: 50px;
  }
  
}