@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
//@import 'node_modules/vue-multiselect/dist/vue-multiselect.min.css';
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
.btn {
  &-dark {
    background-color: #464343;
  }
}
.table {
  th,
  td {
    text-align: center;
  }
}

.form {
  .required {
    border-color: red;
  }
  textarea {
    resize: vertical;
  }
  .list {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    min-height: 160px;
    max-height: 200px;
    overflow-y: auto;
    background-color: #58a8d6;
    list-style: circle;
    color: #fff;
    font-size: 18px;
    li {
      margin-bottom: 10px;
    }

    &--form {
      .btn {
        margin-top: 15px;
      }
    }
  }
}